@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin: 0;
}

body {
    background-color: #f9f7f4;
    font-family: 'Lora', serif;
}

.menu {
    display: flex;
    min-height: 70px;
    justify-content: center;
    margin-bottom: 10px;
}

.lista_menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 50%;
    padding-left: 0;
}


nav a {
    color: #32362d;
    font-size: 22px;
}

.enlace_menu {
    text-decoration: none;
}

.toggle {
    display: none;
    font-weight: bold;
}

.libros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    width: 65%;
    margin: auto;
}

@media (max-width: 1068px) {

    .libros {
        display: block;
        width: 50%;
    }
}

@media (max-width: 800px) {
    .lista_menu {
        flex-direction: column;
    }

    /* .titulo-menu {
        margin-left: none;
    } */

    .elemento-menu {
        display: none;
    }

    .mostrar-elementos-menu {
        display: flex;
    }

    .toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }

    nav>ul>li {
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .contenedor-libro {
        grid-template-columns: 1fr !important; 
    }

    .datos-libro {
        margin-top: 25px;
    }

    .contenedor-autor {
        grid-template-columns: 1fr !important; 
    }

    .contenedor-datos-autor {
        margin-top: 25px;
    }

    .contenedor-explorar video {
        width: 90%;
    }
}

.libro {
    display: flex;
    padding-top: 30px;
}

.datos-libro {
    padding-left: 20px;
}

.datos-libro>h1 {
    font-size: 1.8em;
    padding-bottom: 10px;
    font-weight: 100;
}

.datos-libro>h3 {
    font-weight: 100;
}

.portada {
    width: 160px;
    height: 240px;
    object-fit: contain;
    box-shadow: 5px 5px 10px grey;
    transition-duration: 0.5s;
}

.portada:hover {
    transform: scale(1.05);
}

.contenedor-autor {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 60%;
    margin: auto;
    grid-column-gap: 50px;
}

.contenedor-autor h1 {
    font-size: 1.8em;
    padding-bottom: 10px;
    font-weight: 100;
}

.contenedor-libro {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 60%;
    margin: auto;
    grid-column-gap: 50px;
}

.contenedor-libro h1 {
    font-size: 1.8em;
    padding-bottom: 10px;
    font-weight: 100;
}

.contenedor-libro h2 {
    font-weight: 100;
    color: #959595;
    font-size: 1.3em;
    font-style: italic;
}

.contenedor-libro h3 {
    font-weight: 100;
}

.estrellas {
    font-size: 1.5em;
}

.media {
    font-size: 1.5em;
}

.genero-libro {
    border-bottom: 1px solid #4f3c2e;
}

.contenedor-portada {
    display: flex;
    justify-content: center;
}

.contenedor-imagen-autor {
    display: flex;
    justify-content: center;
}

.contenedor-leer {
    border: 0.17rem solid rgba(39, 28, 20, 0.56);
    border-radius: 25px;
}

.contenedor-leer:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.contenedor-explorar {
    width: 90%;
    margin: auto;
    text-align: center;
}



.boton-leer {
    width: 100%;
    text-align: center;
}

.texto-leer {
    padding: 10px;
    font-weight: bold;
}

.enlace {
    text-decoration: none;
    color: black;
}

.enlace:hover {
    text-decoration: underline;
}

.verde {
    color: rgb(9, 109, 76);
}

.sobre-autor {
    clear: both;
    padding-top: 40px;
}

.sobre-autor p {
    font-size: 1.1em;
}

.sinopsis {
    font-size: 1.1em;
}

.footer {
    background-color: #4f3c2e;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    color: #f4f1ea;
    min-height: 40px;
    margin-top: 40px;
}

.my-01 {
    margin-top: 1px;
    margin-bottom: 1px;
}

.my-2 {
    padding: 10px 0;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.mr-1 {
    margin-right: 5px;
}

.mb-1 {
    margin-bottom: 5px;
}

.ml-2 {
    margin-left: 10px;
}

.pt-1 {
    padding-top: 5px;
}

.pt-2 {
    padding-top: 10px;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.fl {
    float: left;
}